@import 'tailwindcss';

@font-face {
  font-family: 'Source Han Serif SC VF';
  src: url('https://cdn.jsdelivr.net/npm/@wc1font/source-han-serif-sc-vf') format('truetype-variabled');
  font-weight: 100 900;
}
body {
  font-family: 'PingFang SC', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Han Serif SC VF', serif;
}

@tailwind utilities;

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@media (max-width: 767px) {
  .scrollbar-hide {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera */
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}
