@import 'tailwindcss';

@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Thin.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Light.otf') format('opentype');
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Semibold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif SC VF';
  src: url('/fonts/SourceHanSerifSC-VF.otf.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
}
body {
  font-family: 'PingFang SC', serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    'source-han-serif-sc', 'PingFang SC', 'Noto Serif SC', 'Microsoft YaHei', 'SimSun', serif;
  font-weight: 600;
}

@tailwind utilities;

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}

@media (max-width: 767px) {
  .scrollbar-hide {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera */
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}
